{% extends "base.html" %}
{% block title %} iSupermarket - {{marca}}{% endblock %}
{% block  content %}
<span vocab="http://schema.org/" typeof="brand">
<h1>
  <span property = "name">{{ marca.name }}</span>
  {% if user.is_staff %}
    (<a href="{% url 'iSupermarket:marca_update' marca.id %}">edit</a>) or
    (<a href="{% url 'iSupermarket:marca_delete' marca.id %}">delete</a>)
  {% elif user == client.user %}
    (<a href="{% url 'iSupermarket:marca_update' marca.id %}">edit</a>) or 
    (<a href="{% url 'iSupermarket:marca_delete' marca.id %}">delete</a>)
  {% endif %}
</h1>
 
          <h2>Detalls:</h2>
          <p>
            NOM: {{ marca.name }}<br/>
          </p>
          <a href="{% url 'iSupermarket:marca_list' %}">Tornar a la llista</a>
          {% endblock %}