{% extends "base.html" %}
{% block	content	%}
<h1>
  {{ producte }}
 </h1>
  {% if user.is_staff %}
  <a href="{% url 'iSupermarket:producte_update' producte.id %}">edit</a>
  <a href="{% url 'iSupermarket:producte_delete' producte.id %}">delete</a>
{% elif user == producte.user %}
    <a href="{% url 'iSupermarket:producte_update' producte.id %}">edit</a>
    <a href="{% url 'iSupermarket:producte_delete' producte.id %}">delete</a>
{% endif %}
          <h2>Detalls:</h2>
          <p>
            NOM: {{ producte.name }}<br/>
            Marca: <a href="{% url 'iSupermarket:marca_detail' producte.marca.id %}">{{ producte.marca }}</a>
          </p>
          <a href="{% url 'iSupermarket:producte_list' %}">Tornar a la llista</a>
          {% endblock %}