{% extends "base.html" %}
{% block	content	%}
<h1>
  {{ marca }}
</h1>
 {% if user.is_staff %}
  <a href="{% url 'iSupermarket:marca_update' marca.id %}">edit</a>
  <a href="{% url 'iSupermarket:marca_delete' marca.id %}">delete</a>
{% elif user == marca.user %}
    <a href="{% url 'iSupermarket:marca_update' marca.id %}">edit</a>
    <a href="{% url 'iSupermarket:marca_delete' marca.id %}">delete</a>
{% endif %}

          <h2>Detalls:</h2>
          <p>
            NOM: {{ marca.name }}<br/>
          </p>
          <a href="{% url 'iSupermarket:marca_list' %}">Tornar a la llista</a>
          {% endblock %}