{% extends "base.html" %}
{% block	content	%}
<h1>
  {{ sucursal }}
</h1>
 {% if user.is_staff %}
  <a href="{% url 'iSupermarket:sucursal_update' sucursal.id %}">edit</a>
  <a href="{% url 'iSupermarket:sucursal_delete' sucursal.id %}">delete</a>
{% elif user == sucursal.user %}
    <a href="{% url 'iSupermarket:sucursal_update' sucursal.id %}">edit</a>
    <a href="{% url 'iSupermarket:sucursal_delete' sucursal.id %}">delete</a>
{% endif %}

          <h2>Detalls:</h2>
          <p><ul>
            <li>Nom: {{ sucursal.name }}</li>
            <li>Localitzacio: {{ sucursal.location}}</li>
            <li>ZipCode: {{ sucursal.zipCode}}</li>
            <li>Estat o Provincia: {{ sucursal.StateOrProvince }}</li>
            <li>Pais: {{ sucursal.country }}</li>
            <li>Companyia: <a href="{% url 'iSupermarket:companyia_detail' sucursal.companyia.id %}"> {{ sucursal.companyia}}</a></li>
          </ul></p>
          <a href="{% url 'iSupermarket:sucursal_list' %}">Tornar a la llista</a>
          {% endblock %}
