{% extends "base.html" %}
{% block	content	%}
<h1>
  {{ sucursal }}
</h1>
 {% if user.is_staff %}
  <a href="{% url 'iSupermarket:sucursal_update' sucursal.id %}">edit</a>
  <a href="{% url 'iSupermarket:sucursal_delete' sucursal.id %}">delete</a>
{% elif user == sucursal.user %}
    <a href="{% url 'iSupermarket:sucursal_update' sucursal.id %}">edit</a>
    <a href="{% url 'iSupermarket:sucursal_delete' sucursal.id %}">delete</a>
{% endif %}

          <h2>Detalls:</h2>
          <p><ul>
            <li>Nom: {{ sucursal.name }}</li>
            <li>Localitzacio: {{ sucursal.location}}</li>
            <li>ZipCode: {{ sucursal.zipCode}}</li>
            <li>Estat o Provincia: {{ sucursal.StateOrProvince }}</li>
            <li>Pais: {{ sucursal.country }}</li>
            <li>Companyia: <a href="{% url 'iSupermarket:companyia_detail' sucursal.companyia.id %}"> {{ sucursal.companyia}}</a></li>
          </ul></p>
          <a href="{% url 'iSupermarket:sucursal_list' %}">Tornar a la llista</a>
<h2>Reviews</h2>

{% if sucursal.sucursalreview_set.all|length > 0 %}
<span rel="aggregateRating">
    <p typeof="AggregateRating">
        Average rating <span property="ratingValue">{{ sucursal.averageRating|stringformat:".1f" }}</span>
        {% with sucursal.sucursalreview_set.all|length as reviewCount %}
        from <span property="reviewCount">{{ reviewCount }}</span> review{{ reviewCount|pluralize }}
        {% endwith %}
    </p>
</span>
<ul rel="review">
    {% for review in sucursal.sucursalreview_set.all %}
        <li typeof="Review">
            <p rel="reviewRating" typeof="Rating">
                <span property="worstRating" content="{{ RATING_CHOICES.0.0 }}"></span>
                <span property="ratingValue">{{ review.rating }}</span> star{{ review.rating|pluralize }}
                {% with RATING_CHOICES|last as best %}
                <span property="bestRating" content="{{ best.0 }}"></span>
                {% endwith %}
            </p>
            <p property="description">{{ review.comment }}</p>
            <p>Created by <span property="author">{{ review.user }}</span> on
                <span property="publishDate">{{ review.date}}</span></p>
        </li>
    {% endfor %}
</ul>
{% endif %}

<h3>Add Review</h3>
{{ RATING_CHOICES }}
<form action="{% url 'iSupermarket:review_create' sucursal.id %}" method="post">
    {% csrf_token %}
    Message: <textarea name="comment" id="comment" rows="4"></textarea>
    <p>Rating:</p>
    <p>
    {% for rate in "12345"|make_list %}
        <input type="radio" name="rating" id="rating{{ forloop.counter }}" value="{{ rate }}" />
        <label for="choice{{ forloop.counter }}">{{ rate }} star{{ rate|pluralize }}</label><br />
    {% endfor %}
    </p>
    <input type="submit" value="Review" />

</form>
          {% endblock %}
