{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
	<h1>
		Clients:
	</h1>
		<ul>
			<h2>Recents:</h2>
			{% for client in clients_list %}				
				{% if client.was_registred_recently == True %}
					<li>{{client.name}} {{client.lastName}}</li>
				{% endif %}
			{% endfor %}
		<h2>Vells:</h2>
			{% for client in clients_list  %}
				{% if client.was_registred_recently == False %}
					<li>{{client.name}} {{client.lastName}}</li>
				{% endif %}
			{% endfor %}
		</ul>
	</body>
	</html>
